<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/Kalendar">Health-e</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Kalendar" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView Roles="4,1">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="warehouse-machines">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sklad prístrojov
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="warehouse-instruments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sklad nástrojov
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="warehouse-medicaments">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Sklad liekov
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="medicament-list">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Zoznam liekov
                </NavLink>
            </div>
        </AuthorizeView>
        <AuthorizeView Roles="2,3,1">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pdsoutputs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Reporty
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="patientlist">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Zdravotné karty
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="illness-list">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Choroby
            </NavLink>
        </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="vaccination-list">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Vakcíny
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
